@import 'variables';
@import 'header';
@import 'form';
@import 'footer';
@import 'select';

* {
  box-sizing: border-box;
}

body {
  background: #faf4f1 url('b.svg') no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  color: $text-dark-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  widows: 100%;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

main {
  flex: 1;

  p {
    color: #b3a69e;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 2px 2px 1px rgba(255,255,255,.2);

    a {
      display: inline-block;
      color: $primary-color;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      border-bottom: dashed 1px $primary-color;
      padding-bottom: 2px;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
        color: $primary-color-light;
        border-bottom: dashed 1px $primary-color-light;
      }
    }
  }

  .d2h-file-wrapper {
    background: white;
  }

  #diff {
    margin-top: 40px;
    width: 100%;

    text-align: center;
    font-family: sans-serif;

    .line-num2 {
      width: 38px;
    }
  }
}
