#form-container {
  background-color: rgba(255,255,255,.4);
  border-bottom: solid 1px #deccc9;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 0;

  select {
    width: 100%;
  }

  .select2-container {
    margin-right: 0;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
  }

  button {
    display: inline-block;
    border: solid 1px $primary-color;
    color: $primary-color;
    background-color: $light-color;
    height: 42px;
    line-height: 42px;
    padding: 0 22px;
    background-color: $light-color;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $text-light-color;
    }
  }
}

@media (min-width: 480px) {
  form {
    align-items: center;
    flex-direction: row;

    .select2-container {
      min-width: 150px;
      max-width: 150px;
      margin-right: 10px;
      margin-bottom: 0;
    }

    button {
      padding: 0 10px;
      font-size: 17px;
    }
  }
}

@media (min-width: 520px) {
  form {
    button {
      padding: 0 22px;
      font-size: 19px;
    }
  }
}
