.select2-container {
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.select2-container--default {
  .select2-selection {
    border-radius: 2px;
    border-color: $dark-color;
    height: auto;

    .select2-selection__rendered {
      height: 40px;
      line-height: 40px;
      color: $text-dark-color;
    }

    .select2-selection__arrow {
      top: 8px;
    }
  }

  .select2-results__option[aria-selected=true] {
    background-color: $primary-color!important;
    color: $text-light-color;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $primary-color-light;
  }

  .select2-dropdown {
    border-radius: 2px;
    border: solid 1px $dark-color;
    border-top: 1px solid $light-color;

    .select2-search--dropdown .select2-search__field {
      outline-color: $primary-color;
    }

    li {
      color: $text-dark-color;
      font-family: 'Roboto', sans-serif;
    }
  }
}
