.zero-state {
  text-align: center;

  h1 {
    font-size: 30px;
    font-weight: 100;
    color: $text-normal;
    line-height: 1.6;
    max-width: 570px;
    display: inline-block;
    margin-top: 45px;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(255,255,255, .9);
  }

  .tomster-diff {
    max-width: 100%;
    margin: 30px auto;
    display: none;
  }

  .short-tomster-diff {
    max-width: 100%;
    margin: 30px auto;
    display: block;
  }

  .updater {
    display: inline-block;
    margin-top: 40px;
    maring-bottom: 40px;
    text-align: center;
    display: inline-block;

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      color: $text-normal;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    a {
      color: $text-normal;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media (min-width: 480px) {
  .zero-state {
    h1 {
      font-size: 40px;
    }

    .tomster-diff {
      display: block;
    }

    .short-tomster-diff {
      display: none;
    }
  }
}
