<div id="form-container">
  <img width=50 height=50 src="tomster.svg">
  <form>
    <select id="from" data-placeholder="From" onchange={{action loadFrom}}>
      <option></option>
    </select>

    <select id="to" data-placeholder="To" onchange={{action loadTo}}>
      <option></option>
    </select>

    <button id="submit" onclick={{action loadDiff}}> See changes </button>

  </form>
  <p id="explain">
  See the changes between new ember apps
  </p>
</div>

<div id="diff">
</div>
