<div class="zero-state">
  <h1>
    The framework for creating <strong>ambitious</strong> web applications
    sometimes needs to be <strong>updated</strong>
  </h1>

  <img src="tomster-diff.png" class="tomster-diff" alt="Tomster diff image">
  <img src="short-tomster-diff.png" class="short-tomster-diff" alt="Tomster diff image">

  <div class="updater">
    <img src="bubble-lamp.svg" alt="Idea lamp">
    <p>You might be interested in looking at this ember addon</p>
    <a href="https://github.com/kellyselden/ember-cli-update" target="_blank">ember-cli-update</a>
  </div>
</div>
